
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jacques Francois', serif;

}

.loginPage {
    display: none;
}

body .loginPage {
    margin: 0;
    padding: 0;
    font-family: 'Jacques Francois', serif;
    background: black;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.center h1 {
    text-align: center;
    padding: 20px 10px 20px 5px;   
    color: rgb(142, 9, 9);
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: 200;
    font-size: 25px;
}

.center .or {
    text-align: center;
    padding: 20px 0 20px 0; 
    font-size: 10px;
    color: white;
    font-family: 'Jacques Francois Shadow';
    font-weight: 0;
}

.center form {
    padding: 0 30px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 10px 0;
    
}

.txt_field {
    width: 100%;
    font-size: 10px;
    border: none;
    background: none;
    outline: none;
    background-color: rgb(56, 56, 56); 
}

 .txt_field input{
    width: 100%;
    font-size: 10px;
    border: none;
    background: none;
    outline: none;
    height: 100%;
} 

.txt_field label {
    position: absolute;
    top: 16%;
    left: 10px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label {
    top: -5;
    ;
}

.forgot {
    margin: -5px 0 20px 5px;
    color: rgb(142, 9, 9);
    cursor: pointer;
    font-size: 10px;
    padding-top: 10px;
    right: 5%;
}

.forgot:hover {
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    background-color: rgba(49, 7, 7, 0.593);
    color: rgb(142, 9, 9);
    height: 30px;
    font-size: 18px;
    font-family: 'Jacques Francois Shadow', cursive;
    cursor: pointer;
    font-weight: 50;
}

input[type="submit"]:hover{
    border-color: rgb(142, 9, 9);
}

.facebook {
    color: white;
    font-size: 12px;
    padding-left: 20px;
}

.facebook a {
    color: blue
}

footer .signup_link {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10px;
}

.signup_link a {
    color: rgb(142, 9, 9);
}

.snackgramName{
    font-family: 'Jacques Francois Shadow', cursive;
} 

/*Main page css content*/
header {
    display: flex; /* Make content display in linefor that section */
    justify-content: space-between;/*add equal amount of space  */
    align-items: center;
    padding: 1px 10px;
    background-color: black;
    position: sticky;
    top: 0;
}
header .snackgramName {
    font-family: 'Jacques Francois Shadow', cursive;
    color: rgb(170, 11, 11);
    font-size: 22px;
    padding: 20px 18px;
    font-size: 40px;
}

header .search {
    width: 35%;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: rgba(142, 9, 9, 0.541); /*fix color */
    border-radius: 8px;
}

header .search input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(142, 9, 9, 0);
    padding-left: 10px;
    font-size: 15px;
    color: black;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    padding-left: 30px;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius:50%;
    object-fit: cover;

}

header nav ul li a i {
    font-size: 22px;
    color: rgb(170, 11, 11);
}

/* Stories section Left Side */
section {
    padding: 30px 18px;
    background-color: black;
    color: white;
    display: flex;
}

.left{
    width: 65%;
}

.story {
    display: flex;
    padding: 16px;
    border-radius: 4px ;

}

.story .stories {
    width: 17%;

}

.story .stories a img {
    border-radius: 50%;
    border: 2px solid rgb(148, 9, 13);
    padding: 1px;
    object-fit: cover;
    justify-content: space-between;
    
}

.story .stories p{
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    
}

/* Post section */

.posts {
    margin: 25px 0;
    background-color: rgba(142, 9, 9, 0.541); /*fix color */
    border: 1px solid red;
    border-radius: 3px;
}

.posts .username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts .username .feedPost {
    display: flex;
    align-items: center;
   
}

.posts .username .feedPost .image img {
 border-radius: 50px;
 object-fit: cover;
}

.posts .username .feedPost .details .name {
    font-weight: bold;
    padding-left: 15px;
    color: rgb(237, 26, 26); /*fix color */
    font-size: 30px;
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: 400;
}

.posts .post-content img {
    object-fit: cover;
    width: 100%;
    height: auto;
    
}

.posts .post-engage {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.posts .post-engage i {
    font-size: 22px;
    margin-right: 10px;
}

.posts .post-engage .save-engage {
    font-size: 22px;
}

.posts .post-engage-footer {
    padding: 0 16px 16px 16px;
}

.posts .post-engage-footer p {
    margin-bottom: 3px;
}

.posts .post-engage-footer .likes {
    margin-bottom: 8px;
}

.posts .post-engage-footer .name {
    font-weight: bold;
}

.posts .post-engage-footer span{
    margin-left: 10px;
    font-weight: normal;
}

.posts .post-engage-footer .time-posted{
    font-size: 10px;
}

/* add comment section */

.posts .add-comment {
    padding: 16px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.posts .add-comment .left {
    display: flex;
    margin-right: 15px;
    
}

.posts .add-comment .left i{
    font-size: 22px;
    margin-right: 15px;
}
 
.posts .add-comment .left input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
} 





/* Right Side / Sugguestions */
.right{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: -15px;
}

.right .main-profile {
    display: flex;
    align-items: center;
}

.right .main-profile .profile-left {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.right .main-profile .profile-left .image img {
    border-radius: 50px;
    margin-right: 15px;
    object-fit: cover;
}

.right .main-profile .profile-left .details .name {
    padding-bottom: 3px;
    color: rgb(160, 9, 9);
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: bold;
}

/* suggestions */

 .suggestions {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;

 }

 .suggestions .sug4u {
     padding-right: 50px;
 }

 .suggestions p {
    margin-right: 90px;
    

} 

.sug-title {
    align-items: center; 
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.sug-title .sug-left {
    display: flex;
    align-items: center;
    margin-right: 60px; 
}

.sug-title .sug-left .image img {
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
   
}
 
.sug-title .sug-left .details .name {
    padding-bottom: 3px;
    color: rgb(142, 9, 9);
    font-size: 14px;
}

.sug-title .sug-left .details .sug {
    font-size: 14px;
}

.sug-title .sug-right {
   padding-left: 90px;
}

.sug-title .sug-right p {
    color:rgb(237, 26, 26);
}

@media (max-width:992px) {
    header{
        padding: 10px 20px;
    }
}