


* {

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jacques Francois', serif;
    background: rgba(60, 71, 26, 0.545);  
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;   
    color: red;
    font-family: 'Jacques Francois Shadow', cursive;
    font-weight: 200;
}

.center .or {
    text-align: center;
    padding: 10px 0 20px 0; 
    font-size: 10px;;
    color: white;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 5px 0;
}

.txt_field {
    width: 100%;

    font-size: 10px;
    border: none;
    background: none;
    outline: none;
    color: #f2f2f2fb;
    background-color: rgb(56, 56, 56);
}

.txt_field label {
    position: absolute;
    top: 16%;
    left: 10px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label {
    top: -5;
    color:;
}

.forgot {
    margin: -5px 0 20px 5px;
    color: rgb(60, 6, 6);
    cursor: pointer;
    font-size: 10px;
    padding-top: 10px;
    align-items: flex-end;
}

.forgot:hover {
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    background-color: rgba(49, 7, 7, 0.593);
    color: red;
    height: 30px;
    font-size: 18px;
    font-family: 'Jacques Francois Shadow', cursive;
    cursor: pointer;
    font-weight: 50;
}



footer .signup_link {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}




































